<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
    <title>Inicio</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <section>
      <div class="main">
        <div class="navbar">
          <div class="icon">
            <h2 class="logo">
              <img src="/assets/images.jpeg" class="img" alt="" />
            </h2>
          </div>

          <div class="menu">
            <ul>
              <input type="button" value="Iniciar Sesión" routerLink="/index" />
              <input type="button" value="Inicio" routerLink="/index" />
              <input
                type="button"
                value="Ofertas Laborales"
                routerLink="/oferta"
              />
              <input type="button" value="Contacto" routerLink="/contacto" />
              <input
                type="button"
                value="Perfil de Usuario"
                routerLink="/json"
              />
              <input type="button" value="Blog" routerLink="/blog" />
            </ul>
          </div>
        </div>
      </div>

      <h3>Conoce Nuestras Ofertas Laborales</h3>
      <br />
      <p class="par">
        Cada logro comienza con la desición de intentarlo <br />
        Bolsa de empleo para graduados de la Universidad Laica Eloy Alfaro de
        Manabí
      </p>
    </section>
  </body>
</html>
